* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 2rem;
} */

#modal {
  max-width: 300px;
  padding: 20px;
  margin: auto;
  border: 0;
}


.content-select{
	position: relative;
  margin-bottom: 20px;
}

.content-select select {
  appearance: none;
  display: inline-block;
	width: 100%;
	cursor: pointer;
  padding: 7px 10px;
	height: 42px;
  outline: 0; 
	border: 0;
	border-radius: 0;
	background: #f0f0f0;
	color: #111111;
	font-size: 1em;
	border: 2px solid rgba(0,0,0,0.2);
  border-radius: 12px;
  position: relative;
  transition: all 0.25s ease;
}

.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid #2AC176;
	border-bottom:4px solid #2AC176;
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.d-none {
	display: none;
}

@media screen and (min-width: 600px) {
  #modal {
    max-width: 500px;
  }
}